In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Reading the data from the given data set

In [ ]:
data=pd.read_csv('/content/heart_disease_data.csv')

Displaying the start of the data so that we get an idea about the form of the data

In [ ]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

Printing the end of the data so that we get an idea about the range of the data

In [ ]:
data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
Getting the exact size of the data

In [ ]:
data.shape

(303, 14)

Spliting the data set into a label column and a data matrix

In [ ]:
X= data.drop(columns='target', axis=1)
y= data['target']

Splitting the data into train and test datasets so that we can test our algorithm

In [ ]:
X_train, X_test, Y_train, Y_test= train_test_split(X, y, test_size=0.2, stratify= y)

Getting the exact sizes of the dataset after its been split into two

In [ ]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(242, 13)
(242,)
(61, 13)
(61,)

Logistic regression- Since the dataset is very small, the logistic regression is unable to converge to a specific value and fit the convergence criteria

In [ ]:
model= LogisticRegression()
model.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

We train the algorithm on the train dataset and test it with the train dataset itself and measure the accuracy of the algorithm with its inability to converge

In [ ]:
X_train_prediction= model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [ ]:
print(training_data_accuracy)

0.859504132231405

As noted above, the accuracy of the algorithm is very poor because of the lack of data
Below, I have tested the algorithm's accuracy using the test dataset

In [ ]:
X_test_prediction= model.predict(X_test)
test_data_accuracy= accuracy_score(X_test_prediction, Y_test)

In [ ]:
print(test_data_accuracy)

0.819672131147541

As expected, the algorithm has a low accuracy and only gets it right 82% of times
Now lets input a custom input for just one patient to see the algorithm in action

In [ ]:
input_data= (41,0,1,130,204,0,0,172,0,1.4,2,0,2)
input_array= np.asarray(input_data)
reshape= input_array.reshape(1,-1)

Store the prediction of the algorithm in "prediction" and print its value

0- Person is healthy

1- Person has an unhealthy heart

In [ ]:
prediction = model.predict(reshape)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [ ]:
print(prediction)

[1]